/* Rin's part */

h1 {
  color: cadetblue;
}

.highlight {
  color: chocolate;
}


/* Hannah's part */

h3 {
  color: cadetblue;
  font-size: large;
}

h4 {
  font-size: medium;
}

.Brither {
  color: chocolate;
}

img {
  display: block;
}